.six{
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgb(19, 243, 19),rgb(49, 185, 8)),url('../Assets_course/hero.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    font-size: 20px;
    position: relative;

    .clip_content{
        height: 30px;
        width: 30%;
        overflow: hidden; 
        margin-bottom: 30px; 
    }
    .box_dec_br{
        border: 2px solid red;
        box-decoration-break: slice;
        
    }
    .center_text{
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}


