.nav{
    &_checkbox{
        display: none;
    }

    &_btn{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        z-index: 200;
        position: fixed;
        top: 3rem;
        right: 3rem;
    }

    &_back{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        position: fixed;
        top: 3rem;
        right: 3rem;
        z-index: 100;
        background-image: radial-gradient(green,rgb(20, 202, 14));
        //transform: scale(80);
    }

    &_nav{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 150;
        opacity: 0;
        width: 0;
    }
    &_list{
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &_item{
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    &_link{
        transition: all .5s;
        &:link,&:visited{
            text-decoration: none;
            color: white;
            font-size: 50px;
            display: inline-block;
            background-image: linear-gradient(120deg,transparent 0%,transparent 50%,white 50%);
            background-size: 230%;
        }

        &:hover,&:active{
            background-position: 100%;
            color: green;
        }
    }

    &_checkbox:checked ~ &_back{
        transform: scale(80);
    }
    &_checkbox:checked ~ &_nav{
        opacity: 1;
        width: 100%;
    }

    &_icon{
        position: relative;

        &,&::before,&::after{
            width: 50px;
            height: 3px;
            display: inline-block;
            background-color: grey;
        }
        &::before,&::after{
            content: '';
            position: absolute;
            top: 20px;
            bottom: 20px;
        }
    }
}