
$color-red : red;
$color-black : black;


.one{
    background-color: lighten($color-red,40%);
    p{
        color: $color-black;
        font-size: 20px;
    }
    &::after{
        content: "What";
    }
}